<?php

    return [
        'title' => 'Page Builder 1',

//        'show_in_templates' => [ 3 ],

//        'show_in_docs' => [ 2 ],

//        'hide_in_docs' => [ 10, 63 ],

        'placement' => 'content',

        'templates' => [
            'owner' => '
                <div>
                    Слайдер:
                    [+wrap+]
                </div>
            ',
        ],
    ];

