<?php

return [
    'title' => 'Структура страницы',

    'placement' => 'content',

    'templates' => [
        'owner' => '
            <div class="page-structure">
                [+wrap+]
            </div>
        ',
    ],
];
