<?php

    return [
        'title' => 'Image with text',

//        'show_in_templates' => [ 4 ],

//        'show_in_docs' => [ 2 ],

//        'hide_in_docs' => [ 5 ],
        
//        'order' => 1,
        
        'image' => 'assets/plugins/pagebuilder/images/image-title.jpg',

//        'container' => 'default',

        'templates' => [
            'owner' => '
                <div class="container">
                    <img src="[[phpthumb? &input=`[+image+]` &options=`w=1110,f=jpg`]]" alt="" class="img-fluid">

                    <div class="user-content">
                        [+richtext+]
                    </div>
                </div>
            ',
        ],

        'fields' => [
            'image' => [
                'caption' => 'Image',
                'type'    => 'image',
            ],

            'richtext' => [
                'caption' => 'Text',
                'type'    => 'richtext',
                'default' => '',
                'theme'   => 'mini',
                'options' => [
                    'height' => '100px',
                ],
            ],
        ],
    ];

