<?php

return [
    'title' => 'Текст + список изображений',
    'container' => ['column', 'column2', 'column3'],

    'fields' => [
        'text' => [
            'caption' => 'Текст',
            'type'    => 'richtext',
        ],

        'images' => [
            'caption' => 'Изображения',
            'type' => 'group',
            'layout' => 'gallery',
            'fields' => [
                'image' => [
                    'caption' => 'Изображение',
                    'type' => 'image',
                ],
            ],
        ],
    ],

    'templates' => [
        'owner' => '
            <div class="text-block">
                <div class="user-content">
                    [+text+]
                </div>

                [+images+]
            </div>
        ',

        'images' => '<p><img src="[+image+]" class="img-fluid"></p>',
    ],
];
